<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>XinUI</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/xinui.css">
    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/topo.css">

    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/images/logo.png" alt=""></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">Summary</a></li>
                    <li><a href="/policy/">Flow</a></li>
                    <li><a href="/topology">Topology</a></li>
                </ul>
            </div>
        </div>
    </div>



    <script src="/static/js/topo.js" charset="utf-8"></script>


</body>

</html>